<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MoneyTrackR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  Hello

  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <h3>Summary</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="transactionsummarydata">
      <ion-col>
        <app-transaction-summary-group [data]="transactionsummarydata"></app-transaction-summary-group>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <ion-text color="primary">
          <h3>Recent</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="transactionactivitydata">
      <ion-col>
        <app-transaction-item-group *ngFor="let group of transactionactivitydata" [title]="group.display"
          [data]="group.transactions" (onSelect)="onTransactionClick($event)"></app-transaction-item-group>
      </ion-col>
    </ion-row> 
  </ion-grid>-->
</ion-content>